{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
<h1>Формы (POST), сессии</h1>
<div>Тема лабораторной - Формы (POST), сессии. Список сделанных страниц:</div>
<ol>
    <li><a href="/lab4/div-form">Деление чисел</a></li>
    <li><a href="/lab4/sum-form">Сложение чисел</a></li>
    <li><a href="/lab4/mul-form">Умножение чисел</a></li>
    <li><a href="/lab4/sub-form">Вычитание чисел</a></li>
    <li><a href="/lab4/pow-form">Возведение в степень</a></li>
    <li><a href="/lab4/tree">Счётчик деревьев (POST/Redirect/GET)</a></li>
    <li><a href="/lab4/login">Авторизация с сессиями</a></li>
    <li><a href="/lab4/fridge">Холодильник (самостоятельное задание)</a></li>
    <li><a href="/lab4/grain">Заказ зерна (самостоятельное задание)</a></li>
    <li><a href="/lab4/register">Регистрация (дополнительное задание)</a></li>
</ol>
{% endblock %}