{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}

<link rel="icon" href="{{ url_for('static', filename='favicon (1).ico') }}" type="image/x-icon">

    <h1>Лабораторная работа 2</h1>
    <p>Шаблоны в Flask</p>
    
    <h2>Содержание работы:</h2>
    <ul>
        <li>Динамические пути</li>
        <li>Работа с шаблонами Jinja2</li>
        <li>Переменные и выражения в шаблонах</li>
        <li>Условия и циклы</li>
        <li>Наследование шаблонов</li>
        <li>Фильтры</li>
    </ul>
    
    <h2>Ссылки на задания:</h2>
    <ol>
        <li><a href="/">Главная страница</a></li>
        <li><a href="/lab2/example">Пример шаблона</a></li>
        <li><a href="/lab2/flowers/1">Цветок по номеру</a></li>
        <li><a href="/lab2/flowers/">Все цветы</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/berries">Ягоды</a></li>
        <li><a href="/lab2/calc/5/3">Калькулятор</a></li>
        <li><a href="/lab2/books">Книги</a></li>
    </ol>
    
    <a href="/">← Назад на главную</a>
{% endblock %}