{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Оплата</h1>
    
    <div>
        <h3>Сумма к оплате: {{ price }} руб.</h3>
    </div>
    
    <form action="/lab3/success">
        <input type="hidden" name="price" value="{{ price }}">
        
        <div>
            <label>Номер банковской карты:</label><br>
            <input type="text" name="card" pattern="\d{16}" placeholder="16 цифр" required>
        </div>
        
        <div>
            <label>Имя держателя карты:</label><br>
            <input type="text" name="name" required>
        </div>
        
        <div>
            <label>Номер CVV:</label><br>
            <input type="text" name="cvv" size="3" pattern="\d{3}" placeholder="3 цифры" required>
        </div>
        
        <div>
            <button type="submit">Оплатить</button>
            <a href="/lab3/order">Отказаться</a>
        </div>
    </form>
{% endblock %}