{% extends "base.html" %}

{% block lab %}Добавить цветок{% endblock %}

{% block main %}
    <h1>Добавить новый цветок</h1>
    
    <form action="/lab2/add_flower/" method="post">
        <div class="form-group">
            <label for="name">Название цветка:</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" id="price" name="price" min="0" required>
        </div>
        
        <button type="submit">Добавить цветок</button>
    </form>
    
    <a href="/lab2/flowers/">← Вернуться к списку цветов</a>
{% endblock %}