<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{ name }}. 
        {% else %}
            Аноним. 
        {% endif %}
        {% if lab_num %}Лабораторная работа {{ lab_num }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab_num %}Лабораторная работа {{ lab_num }}{% endif %}
    </header>
    <main>
        <!-- основной контент -->
    </main>
    <footer>
        &copy;
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        {% if group %}
            {{ group }},
        {% else %}
            Группа не указана,
        {% endif %}
        {% if course %}
            {{ course }} курс,
        {% else %}
            Курс не указан,
        {% endif %}
        2025
    </footer>
</body>
</html>