{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/flowers/1">Цветок 1</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/berries">Ягоды</a></li>
    </ol>
{% endblock %}
    </ol>
{% endblock %}