{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab7/style.css') }}">
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>
    
    <table>
        <thead>
            <tr>
                <th>Оригинальное название</th>
                <th>Русское название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>
    
    <script>
        fillFilmList();
    </script>
    
    <div style="margin-top: 20px;">
        <button class="add-btn" onclick="addFilm()">Добавить фильм</button>
    </div>
    
    <div id="film-modal" class="modal">
        <div class="modal-content">
            <h2 id="modal-title">Добавить фильм</h2>
            <input type="hidden" id="id">
            
            <label>
                Название фильма на русском:
                <input type="text" id="title_ru" required>
            </label>
            
            <label>
                Название фильма на оригинальном языке:
                <input type="text" id="title">
                <span style="font-size: 12px; color: #666;">(оставьте пустым, если фильм русский)</span>
            </label>
            
            <label>
                Год выпуска:
                <input type="number" id="year" min="1895" max="2025" required>
            </label>
            
            <label>
                Описание:
                <textarea id="description" required></textarea>
                <div id="description_error" class="error-message"></div>
            </label>
            
            <div style="text-align: right; margin-top: 20px;">
                <button class="edit-btn" onclick="sendFilm()">Сохранить</button>
                <button class="delete-btn" onclick="cancel()">Отмена</button>
            </div>
        </div>
    </div>
{% endblock %}